header {
  position:relative;
  background-image: url('../assets/ktryna-wq7VErajAaE-unsplashhah.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  width: 100%;
  opacity: 1;
  @include media-breakpoint-down(xs) {
    background-attachment: unset;
    background-position:right;
}
}

div.picture {
  background-color: rgba(0, 0, 0, 0.705);
}

nav {
  transition: 1s;
  background-color: rgb(255, 255, 255);
}
nav.scrolled {
  background-color: rgb(255, 248, 151);
}

nav.scrolledpink {
  background-color: rgb(255, 147, 115);
}

nav.scrolledblue {
  background-color: rgb(146, 253, 248);
}

div.jumbotron {
  color: rgb(255, 248, 151);
  margin-top: 0vh;
  margin-bottom: 0;
  padding-top: 15vh;
  h1 {
    margin-bottom: 7vh;
    color: rgb(255, 255, 255);
    @include media-breakpoint-down(xs) {
      font-size: 1.7rem;
  }
  }
  p.lead {
    font-size: 1.25rem;
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
  }
  }
  
  p.book {
    color: white;
    @include media-breakpoint-down(xs) {
      font-size: 1.5rem;
  }
  }
}

div.address {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 15px;
}
