section.reservation {
  background-color:rgb(255, 147, 115);
  h1 {
    margin-bottom: 0;
  }
}

div.reservation {
  color: white;
  background-color: black;
  padding-bottom: 30px;
  padding-top: 30px;
}

.form-control {
  width: 60%;
}

button.form-control {
  width: 100px;
}

#date {
  width: 230px;
}